{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="d-flex">
    {% include 'menu.html' %}

    <main class="container-fluid p-5">
        <div class="bg-white p-5 rounded shadow-sm">
            <h1 class="display-4 fw-bold">Skystore</h1>
            <p class="lead text-muted">Отличный вариант хранения ваших плагинов и примеров кода.</p>

            <hr class="my-4">

            <div class="row">
                <div class="col-md-6">
                    <div class="card border-primary mb-3 shadow-sm" style="max-width: 18rem;">
                        <div class="card-header bg-primary text-white">Удобный сервис рассылок</div>
                        <div class="card-body text-center">
                            <h2 class="card-title pricing-card-title">$ 140</h2>
                            <ul class="list-unstyled mt-3 mb-4 text-start ms-3">
                                <li>✅ Неограниченная лицензия</li>
                                <li>✅ Поддержка</li>
                                <li>✅ Установка на сервер</li>
                                <li>✅ Обновления</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-primary">Купить</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <h5>Категории</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Рассылки</li>
                        <li class="list-group-item">Телеграм боты</li>
                        <li class="list-group-item">Полезные утилиты</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
